// DataDashboard
// Base -- Core styling

@import "library/colors";
@import "library/utils";

// Page
body {
   >header {
      >figure img {
         max-height: 100px;
         }
      }
   main {
      text-align: center;
      }
   >footer {
      justify-content: center;
      }
   }

// Link color
a {
   border-color: @colorBlueGrayish;
   &:hover {
      background-color: @colorBlueGrayish;
      outline-color: @colorBlueGrayish;
      }
   }

// Flat button color
button {
   background-color: @colorBlueBright;
   &:hover {
      background-color: @colorBlueDark;
      }
   }
